# Classification Exercise

We'll be working with some California Census Data, we'll be trying to use various features of an individual to predict what class of income they belogn in (>50k or <=50k). 

Here is some information about the data:

<table>
<thead>
<tr>
<th>Column Name</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>age</td>
<td>Continuous</td>
<td>The age of the individual</td>
</tr>
<tr>
<td>workclass</td>
<td>Categorical</td>
<td>The type of employer the  individual has (government,  military, private, etc.).</td>
</tr>
<tr>
<td>fnlwgt</td>
<td>Continuous</td>
<td>The number of people the census  takers believe that observation  represents (sample weight). This  variable will not be used.</td>
</tr>
<tr>
<td>education</td>
<td>Categorical</td>
<td>The highest level of education  achieved for that individual.</td>
</tr>
<tr>
<td>education_num</td>
<td>Continuous</td>
<td>The highest level of education in  numerical form.</td>
</tr>
<tr>
<td>marital_status</td>
<td>Categorical</td>
<td>Marital status of the individual.</td>
</tr>
<tr>
<td>occupation</td>
<td>Categorical</td>
<td>The occupation of the individual.</td>
</tr>
<tr>
<td>relationship</td>
<td>Categorical</td>
<td>Wife, Own-child, Husband,  Not-in-family, Other-relative,  Unmarried.</td>
</tr>
<tr>
<td>race</td>
<td>Categorical</td>
<td>White, Asian-Pac-Islander,  Amer-Indian-Eskimo, Other, Black.</td>
</tr>
<tr>
<td>gender</td>
<td>Categorical</td>
<td>Female, Male.</td>
</tr>
<tr>
<td>capital_gain</td>
<td>Continuous</td>
<td>Capital gains recorded.</td>
</tr>
<tr>
<td>capital_loss</td>
<td>Continuous</td>
<td>Capital Losses recorded.</td>
</tr>
<tr>
<td>hours_per_week</td>
<td>Continuous</td>
<td>Hours worked per week.</td>
</tr>
<tr>
<td>native_country</td>
<td>Categorical</td>
<td>Country of origin of the  individual.</td>
</tr>
<tr>
<td>income</td>
<td>Categorical</td>
<td>"&gt;50K" or "&lt;=50K", meaning  whether the person makes more  than \$50,000 annually.</td>
</tr>
</tbody>
</table>

## Follow the Directions in Bold. If you get stuck, check out the solutions lecture.

### THE DATA

** Read in the census_data.csv data with pandas**

In [1]:
import pandas as pd

In [2]:
census = pd.read_csv('census_data.csv')

In [3]:
census.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

** TensorFlow won't be able to understand strings as labels, you'll need to use pandas .apply() method to apply a custom function that converts them to 0s and 1s. This might be hard if you aren't very familiar with pandas, so feel free to take a peek at the solutions for this part.**

** Convert the Label column to 0s and 1s instead of strings.**

In [4]:
census['income_bracket'].unique()

array([' <=50K', ' >50K'], dtype=object)

In [5]:
def label_fix(label):
    if label == ' <=50K':
        return 0
    else:
        return 1

In [6]:
census['income_bracket'] = census['income_bracket'].apply(label_fix)

In [7]:
census.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0

### Perform a Train Test Split on the Data

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
x_data = census.drop('income_bracket',axis = 1)
y_label = census['income_bracket']

In [10]:
X_train, X_test, y_train, y_test = train_test_split(
x_data, y_label, test_size=0.3, random_state=101)

In [11]:
census.columns

Index(['age', 'workclass', 'education', 'education_num', 'marital_status',
       'occupation', 'relationship', 'race', 'gender', 'capital_gain',
       'capital_loss', 'hours_per_week', 'native_country', 'income_bracket'],
      dtype='object')

### Create the Feature Columns for tf.esitmator

** Take note of categorical vs continuous values! **

Index(['age', 'workclass', 'education', 'education_num', 'marital_status',
       'occupation', 'relationship', 'race', 'gender', 'capital_gain',
       'capital_loss', 'hours_per_week', 'native_country', 'income_bracket'],
      dtype='object')

** Import Tensorflow **

In [12]:
import tensorflow as tf

** Create the tf.feature_columns for the categorical values. Use vocabulary lists or just use hash buckets. **

In [13]:
gender = tf.feature_column.categorical_column_with_vocabulary_list("gender"
,['Female','Male'])

In [15]:
occupation = tf.feature_column.categorical_column_with_hash_bucket("occupation",
hash_bucket_size = 1000)

In [16]:
marital_status = tf.feature_column.categorical_column_with_hash_bucket("marital_status",
hash_bucket_size = 1000)
relationship = tf.feature_column.categorical_column_with_hash_bucket("relationship",
hash_bucket_size = 1000)
education = tf.feature_column.categorical_column_with_hash_bucket("education",
hash_bucket_size = 1000)
workclass = tf.feature_column.categorical_column_with_hash_bucket("workclass",
hash_bucket_size = 1000)
native_country = tf.feature_column.categorical_column_with_hash_bucket("native_country",
hash_bucket_size = 1000)

** Create the continuous feature_columns for the continuous values using numeric_column **

In [17]:
age  = tf.feature_column.numeric_column("age")
education_num  = tf.feature_column.numeric_column("education_num")
capital_gain  = tf.feature_column.numeric_column("capital_gain")
capital_loss  = tf.feature_column.numeric_column("capital_loss")
hours_per_week  = tf.feature_column.numeric_column("hours_per_week")

** Put all these variables into a single list with the variable name feat_cols **

In [18]:
feat_cols = [gender,occupation,marital_status,relationship,education,
            workclass,native_country,age,education_num,capital_gain
            ,capital_loss,hours_per_week]

### Create Input Function

** Batch_size is up to you. But do make sure to shuffle!**

In [20]:
input_func = tf.estimator.inputs.pandas_input_fn(x=X_train,y=y_train,
                                batch_size = 100,num_epochs = None,
                                shuffle = True)

#### Create your model with tf.estimator

**Create a LinearClassifier.(If you want to use a DNNClassifier, keep in mind you'll need to create embedded columns out of the cateogrical feature that use strings, check out the previous lecture on this for more info.)**

In [22]:
model = tf.estimator.LinearClassifier(feature_columns = feat_cols)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: /var/folders/wc/97m43k5n4knd4vkdthrfb27r0000gn/T/tmpgia8bks9
INFO:tensorflow:Using config: {'_model_dir': '/var/folders/wc/97m43k5n4knd4vkdthrfb27r0000gn/T/tmpgia8bks9', '_tf_random_seed': 1, '_save_summary_steps': 100, '_save_checkpoints_secs': 600, '_save_checkpoints_steps': None, '_session_config': None, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100}

** Train your model on the data, for at least 5000 steps. **

In [23]:
model.train(input_fn = input_func,steps = 10000)

INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Saving checkpoints for 1 into /var/folders/wc/97m43k5n4knd4vkdthrfb27r0000gn/T/tmpgia8bks9/model.ckpt.
INFO:tensorflow:loss = 69.3147, step = 1
INFO:tensorflow:global_step/sec: 160.487
INFO:tensorflow:loss = 770.798, step = 101 (0.624 sec)
INFO:tensorflow:global_step/sec: 174.575
INFO:tensorflow:loss = 131.334, step = 201 (0.573 sec)
INFO:tensorflow:global_step/sec: 196.41
INFO:tensorflow:loss = 451.23, step = 301 (0.509 sec)
INFO:tensorflow:global_step/sec: 164.831
INFO:tensorflow:loss = 88.6853, step = 401 (0.607 sec)
INFO:tensorflow:global_step/sec: 158.221
INFO:tensorflow:loss = 122.128, step = 501 (0.635 sec)
INFO:tensorflow:global_step/sec: 223.327
INFO:tensorflow:loss = 269.854, step = 601 (0.445 sec)
INFO:tensorflow:global_step/sec: 162.056
INFO:tensorflow:loss = 48.3345, step = 701 (0.617 sec)
INFO:tensorflow:global_step/sec: 136.07
INFO:tensorflow:loss = 1171.14, step = 801 (0.735 sec)
INFO:tensorflow:global_step/sec: 192.984
INFO:tensorflow:loss = 125.072, step = 901 (0.519 sec)
INFO:tensorflow:global_step/sec: 232.419
INFO:tensorflow:loss = 294.337, step = 1001 (0.430 sec)
INFO:tensorflow:global_step/sec: 178.181
INFO:tensorflow:loss = 39.7175, step = 1101 (0.561 sec)
INFO:tensorflow:global_step/sec: 186.549
INFO:tensorflow:loss = 121.631, step = 1201 (0.537 sec)
INFO:tensorflow:global_step/sec: 194.26
INFO:tensorflow:loss = 62.1581, step = 1301 (0.513 sec)
INFO:tensorflow:global_step/sec: 227.137
INFO:tensorflow:loss = 35.4793, step = 1401 (0.440 sec)
INFO:tensorflow:global_step/sec: 262.197
INFO:tensorflow:loss = 70.8917, step = 1501 (0.383 sec)
INFO:tensorflow:global_step/sec: 183.918
INFO:tensorflow:loss = 72.171, step = 1601 (0.543 sec)
INFO:tensorflow:global_step/sec: 182.836
INFO:tensorflow:loss = 53.7726, step = 1701 (0.546 sec)
INFO:tensorflow:global_step/sec: 181.609
INFO:tensorflow:loss = 138.936, step = 1801 (0.551 sec)
INFO:tensorflow:global_step/sec: 156.442
INFO:tensorflow:loss = 64.1608, step = 1901 (0.639 sec)
INFO:tensorflow:global_step/sec: 155.795
INFO:tensorflow:loss = 40.5263, step = 2001 (0.642 sec)
INFO:tensorflow:global_step/sec: 134.908
INFO:tensorflow:loss = 735.636, step = 2101 (0.742 sec)
INFO:tensorflow:global_step/sec: 158.971
INFO:tensorflow:loss = 52.3672, step = 2201 (0.630 sec)
INFO:tensorflow:global_step/sec: 153.157
INFO:tensorflow:loss = 171.183, step = 2301 (0.652 sec)
INFO:tensorflow:global_step/sec: 147.015
INFO:tensorflow:loss = 62.3948, step = 2401 (0.681 sec)
INFO:tensorflow:global_step/sec: 145.82
INFO:tensorflow:loss = 35.2581, step = 2501 (0.685 sec)
INFO:tensorflow:global_step/sec: 141.635
INFO:tensorflow:loss = 52.9519, step = 2601 (0.707 sec)
INFO:tensorflow:global_step/sec: 127.801
INFO:tensorflow:loss = 67.2975, step = 2701 (0.782 sec)
INFO:tensorflow:global_step/sec: 143.959
INFO:tensorflow:loss = 29.6356, step = 2801 (0.694 sec)
INFO:tensorflow:global_step/sec: 165.198
INFO:tensorflow:loss = 171.218, step = 2901 (0.605 sec)
INFO:tensorflow:global_step/sec: 155.252
INFO:tensorflow:loss = 51.0184, step = 3001 (0.644 sec)
INFO:tensorflow:global_step/sec: 170.534
INFO:tensorflow:loss = 31.3009, step = 3101 (0.591 sec)
INFO:tensorflow:global_step/sec: 207.721
INFO:tensorflow:loss = 179.669, step = 3201 (0.476 sec)
INFO:tensorflow:global_step/sec: 155.35
INFO:tensorflow:loss = 62.7603, step = 3301 (0.644 sec)
INFO:tensorflow:global_step/sec: 218.998
INFO:tensorflow:loss = 320.396, step = 3401 (0.456 sec)
INFO:tensorflow:global_step/sec: 146.785
INFO:tensorflow:loss = 236.281, step = 3501 (0.682 sec)
INFO:tensorflow:global_step/sec: 125.805
INFO:tensorflow:loss = 44.4305, step = 3601 (0.795 sec)
INFO:tensorflow:global_step/sec: 140.192
INFO:tensorflow:loss = 19.9983, step = 3701 (0.714 sec)
INFO:tensorflow:global_step/sec: 175.114
INFO:tensorflow:loss = 626.222, step = 3801 (0.570 sec)
INFO:tensorflow:global_step/sec: 164.481
INFO:tensorflow:loss = 42.1449, step = 3901 (0.608 sec)
INFO:tensorflow:global_step/sec: 217.644
INFO:tensorflow:loss = 23.8457, step = 4001 (0.465 sec)
INFO:tensorflow:global_step/sec: 153.982
INFO:tensorflow:loss = 42.1032, step = 4101 (0.644 sec)
INFO:tensorflow:global_step/sec: 210.39
INFO:tensorflow:loss = 43.4452, step = 4201 (0.475 sec)
INFO:tensorflow:global_step/sec: 181.136
INFO:tensorflow:loss = 279.101, step = 4301 (0.554 sec)
INFO:tensorflow:global_step/sec: 135.783
INFO:tensorflow:loss = 56.5322, step = 4401 (0.736 sec)
INFO:tensorflow:global_step/sec: 143.176
INFO:tensorflow:loss = 170.249, step = 4501 (0.697 sec)
INFO:tensorflow:global_step/sec: 144.343
INFO:tensorflow:loss = 35.096, step = 4601 (0.693 sec)
INFO:tensorflow:global_step/sec: 154.703
INFO:tensorflow:loss = 41.5706, step = 4701 (0.650 sec)
INFO:tensorflow:global_step/sec: 161
INFO:tensorflow:loss = 47.6077, step = 4801 (0.619 sec)
INFO:tensorflow:global_step/sec: 144.813
INFO:tensorflow:loss = 37.7201, step = 4901 (0.688 sec)
INFO:tensorflow:global_step/sec: 141.121
INFO:tensorflow:loss = 36.0359, step = 5001 (0.710 sec)
INFO:tensorflow:global_step/sec: 147.865
INFO:tensorflow:loss = 72.331, step = 5101 (0.675 sec)
INFO:tensorflow:global_step/sec: 136.327
INFO:tensorflow:loss = 73.9377, step = 5201 (0.734 sec)
INFO:tensorflow:global_step/sec: 159.187
INFO:tensorflow:loss = 63.5894, step = 5301 (0.631 sec)
INFO:tensorflow:global_step/sec: 166.726
INFO:tensorflow:loss = 47.397, step = 5401 (0.600 sec)
INFO:tensorflow:global_step/sec: 138.733
INFO:tensorflow:loss = 60.4405, step = 5501 (0.717 sec)
INFO:tensorflow:global_step/sec: 139.377
INFO:tensorflow:loss = 26.6084, step = 5601 (0.720 sec)
INFO:tensorflow:global_step/sec: 151.88
INFO:tensorflow:loss = 42.7641, step = 5701 (0.657 sec)
INFO:tensorflow:global_step/sec: 161.309
INFO:tensorflow:loss = 97.2703, step = 5801 (0.618 sec)
INFO:tensorflow:global_step/sec: 161.81
INFO:tensorflow:loss = 43.056, step = 5901 (0.618 sec)
INFO:tensorflow:global_step/sec: 168.016
INFO:tensorflow:loss = 28.9888, step = 6001 (0.596 sec)
INFO:tensorflow:global_step/sec: 173.362
INFO:tensorflow:loss = 135.012, step = 6101 (0.577 sec)
INFO:tensorflow:global_step/sec: 178.816
INFO:tensorflow:loss = 20.2692, step = 6201 (0.559 sec)
INFO:tensorflow:global_step/sec: 177.571
INFO:tensorflow:loss = 62.8961, step = 6301 (0.564 sec)
INFO:tensorflow:global_step/sec: 276.955
INFO:tensorflow:loss = 35.5903, step = 6401 (0.361 sec)
INFO:tensorflow:global_step/sec: 198.631
INFO:tensorflow:loss = 33.7861, step = 6501 (0.505 sec)
INFO:tensorflow:global_step/sec: 175.357
INFO:tensorflow:loss = 118.109, step = 6601 (0.569 sec)
INFO:tensorflow:global_step/sec: 161.484
INFO:tensorflow:loss = 48.4295, step = 6701 (0.620 sec)
INFO:tensorflow:global_step/sec: 194.184
INFO:tensorflow:loss = 71.9511, step = 6801 (0.515 sec)
INFO:tensorflow:global_step/sec: 207.854
INFO:tensorflow:loss = 47.0005, step = 6901 (0.482 sec)
INFO:tensorflow:global_step/sec: 227.918
INFO:tensorflow:loss = 46.6025, step = 7001 (0.437 sec)
INFO:tensorflow:global_step/sec: 200.995
INFO:tensorflow:loss = 83.4687, step = 7101 (0.499 sec)
INFO:tensorflow:global_step/sec: 225.734
INFO:tensorflow:loss = 39.3733, step = 7201 (0.443 sec)
INFO:tensorflow:global_step/sec: 205.963
INFO:tensorflow:loss = 23.9334, step = 7301 (0.486 sec)
INFO:tensorflow:global_step/sec: 223.409
INFO:tensorflow:loss = 41.0808, step = 7401 (0.450 sec)
INFO:tensorflow:global_step/sec: 210.722
INFO:tensorflow:loss = 58.911, step = 7501 (0.471 sec)
INFO:tensorflow:global_step/sec: 200.303
INFO:tensorflow:loss = 47.1898, step = 7601 (0.500 sec)
INFO:tensorflow:global_step/sec: 165.65
INFO:tensorflow:loss = 34.6691, step = 7701 (0.605 sec)
INFO:tensorflow:global_step/sec: 177.246
INFO:tensorflow:loss = 89.993, step = 7801 (0.566 sec)
INFO:tensorflow:global_step/sec: 142.537
INFO:tensorflow:loss = 157.436, step = 7901 (0.698 sec)
INFO:tensorflow:global_step/sec: 197.01
INFO:tensorflow:loss = 43.9973, step = 8001 (0.507 sec)
INFO:tensorflow:global_step/sec: 200.526
INFO:tensorflow:loss = 31.3641, step = 8101 (0.500 sec)
INFO:tensorflow:global_step/sec: 188.061
INFO:tensorflow:loss = 34.9976, step = 8201 (0.532 sec)
INFO:tensorflow:global_step/sec: 191.076
INFO:tensorflow:loss = 35.9741, step = 8301 (0.522 sec)

INFO:tensorflow:global_step/sec: 213.326
INFO:tensorflow:loss = 36.0598, step = 8401 (0.469 sec)
INFO:tensorflow:global_step/sec: 219.422
INFO:tensorflow:loss = 28.3983, step = 8501 (0.458 sec)
INFO:tensorflow:global_step/sec: 215.018
INFO:tensorflow:loss = 52.5976, step = 8601 (0.465 sec)
INFO:tensorflow:global_step/sec: 207.677
INFO:tensorflow:loss = 31.2353, step = 8701 (0.480 sec)
INFO:tensorflow:global_step/sec: 222.748
INFO:tensorflow:loss = 35.5634, step = 8801 (0.448 sec)
INFO:tensorflow:global_step/sec: 209.307
INFO:tensorflow:loss = 50.0688, step = 8901 (0.479 sec)
INFO:tensorflow:global_step/sec: 236.402
INFO:tensorflow:loss = 28.3751, step = 9001 (0.420 sec)
INFO:tensorflow:global_step/sec: 207.059
INFO:tensorflow:loss = 184.025, step = 9101 (0.485 sec)
INFO:tensorflow:global_step/sec: 201.87
INFO:tensorflow:loss = 30.0238, step = 9201 (0.495 sec)
INFO:tensorflow:global_step/sec: 166.664
INFO:tensorflow:loss = 38.8385, step = 9301 (0.599 sec)
INFO:tensorflow:global_step/sec: 199.649
INFO:tensorflow:loss = 37.8927, step = 9401 (0.502 sec)
INFO:tensorflow:global_step/sec: 216.023
INFO:tensorflow:loss = 34.4025, step = 9501 (0.465 sec)
INFO:tensorflow:global_step/sec: 166.831
INFO:tensorflow:loss = 30.2087, step = 9601 (0.598 sec)
INFO:tensorflow:global_step/sec: 231.768
INFO:tensorflow:loss = 94.5377, step = 9701 (0.430 sec)
INFO:tensorflow:global_step/sec: 197.296
INFO:tensorflow:loss = 48.3851, step = 9801 (0.507 sec)
INFO:tensorflow:global_step/sec: 211.34
INFO:tensorflow:loss = 84.259, step = 9901 (0.475 sec)
INFO:tensorflow:Saving checkpoints for 10000 into /var/folders/wc/97m43k5n4knd4vkdthrfb27r0000gn/T/tmpgia8bks9/model.ckpt.
INFO:tensorflow:Loss for final step: 38.8005.

### Evaluation

** Create a prediction input function. Remember to only supprt X_test data and keep shuffle=False. **

In [24]:
pred_fn = tf.estimator.inputs.pandas_input_fn(x= X_test,batch_size = 
                                             len(X_test),shuffle = False)

** Use model.predict() and pass in your input function. This will produce a generator of predictions, which you can then transform into a list, with list() **

In [26]:
pred_gen = model.predict(input_fn = pred_fn)

In [27]:
predictions = list(pred_gen)

INFO:tensorflow:Restoring parameters from /var/folders/wc/97m43k5n4knd4vkdthrfb27r0000gn/T/tmpgia8bks9/model.ckpt-10000

** Each item in your list will look like this: **

In [28]:
final_preds = [pred['class_ids'][0] for pred in predictions]

** Create a list of only the class_ids key values from the prediction list of dictionaries, these are the predictions you will use to compare against the real y_test values. **

[0, 0, 0, 0, 1, 0, 0, 0, 0, 0]

** Import classification_report from sklearn.metrics and then see if you can figure out how to use it to easily get a full report of your model's performance on the test data. **

In [29]:
from sklearn.metrics import classification_report

In [31]:
print(classification_report(y_test,final_preds))

             precision    recall  f1-score   support

          0       0.88      0.91      0.90      7436
          1       0.69      0.61      0.64      2333

avg / total       0.84      0.84      0.84      9769

# Great Job!